/env
/practicos/pruebas.py
/grupo
/stage.py
/teoricos
/.vscode
/dj/env
/dj/heroesApp/heroe/__pycache__
/practicos/dj/clase_16/classicmodels/classicmodels/__pycache__
/practicos/dj/clase_16/classicmodels/products/__pycache__